/* Add application styles & imports to this file! */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #949ba2;
	background-color: #2f323b;
}

.sort-icon {
	padding-left: 5px;
	color: #fd7e14;
}

td {
	white-space: nowrap;
}

a:hover {
	color: #337ab7;
}

.page-header {
	color: #fff;
}

.h-icon {
	color: #f6a821;
}

.page-header {
	border-bottom: 1px solid #3d404c;
}

.form-control {
	color: #949ba2;
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	background-color: #494b54;
}

.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #2c2e34;
	opacity: 1;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
	border-color: transparent;
	background-color: #52555f;
}

.btn-accent {
  color: #949ba2;
  background-color: transparent;
  border-color: #f6a821;
}
.btn-accent:focus,
.btn-accent.focus {
  color: #ffffff;
  background-color: rgba(246, 168, 33, 0.1);
  border-color: #f6a821;
  outline: 0;
  box-shadow: none;
}
.btn-accent:hover {
  color: #ffffff;
  background-color: rgba(246, 168, 33, 0.1);
  border-color: #f6a821;
}
.btn-accent:active,
.btn-accent.active,
.open > .dropdown-toggle.btn-accent {
  color: #ffffff;
  background-color: rgba(246, 168, 33, 0.1);
  border-color: #f6a821;
}
.btn-accent:active:hover,
.btn-accent.active:hover,
.open > .dropdown-toggle.btn-accent:hover,
.btn-accent:active:focus,
.btn-accent.active:focus,
.open > .dropdown-toggle.btn-accent:focus,
.btn-accent:active.focus,
.btn-accent.active.focus,
.open > .dropdown-toggle.btn-accent.focus {
  color: #ffffff;
  background-color: rgba(246, 168, 33, 0.1);
  border-color: #f8bb52;
  outline: 0;
  box-shadow: none;
}
.btn-accent:active,
.btn-accent.active,
.open > .dropdown-toggle.btn-accent {
  background-image: none;
}
.btn-accent.disabled:hover,
.btn-accent[disabled]:hover,
fieldset[disabled] .btn-accent:hover,
.btn-accent.disabled:focus,
.btn-accent[disabled]:focus,
fieldset[disabled] .btn-accent:focus,
.btn-accent.disabled.focus,
.btn-accent[disabled].focus,
fieldset[disabled] .btn-accent.focus {
  background-color: rgba(246, 168, 33, 0.1);
  border-color: #f6a821;
}

.panel {
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #949ba2;
	border-radius: 3px;
}

.panel.panel-filled {
	background-color: rgba(68, 70, 79, 0.5);
}

.panel .panel-body {
	padding: 5px 15px 15px 15px;
}

.panel.panel-filled .panel-body {
	padding-top: 10px;
}

.panel .panel-footer {
	background-color: transparent;
	border: none;
}

.panel>.panel-heading {
	color: #ffffff;
}

th {
	color: #fff;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	border-top: 1px solid #3d404c;
}

.table>thead>tr>th {
	border-bottom: none;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: rgba(68, 70, 79, 0.5);
}

.table>thead>tr>td.active,
.table>tbody>tr>td.active,
.table>tfoot>tr>td.active,
.table>thead>tr>th.active,
.table>tbody>tr>th.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>tbody>tr.active>td,
.table>tfoot>tr.active>td,
.table>thead>tr.active>th,
.table>tbody>tr.active>th,
.table>tfoot>tr.active>th {
	background-color: #494b54;
}

.table-hover>tbody>tr:hover {
	background-color: #494b54;
}

.panel-filled .table>thead>tr>th,
.panel-filled .table>tbody>tr>th,
.panel-filled .table>tfoot>tr>th,
.panel-filled .table>thead>tr>td,
.panel-filled .table>tbody>tr>td,
.panel-filled .table>tfoot>tr>td {
	border-color: #484c5a;
}

.table-bordered,
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
	border-color: #3d404c;
}

.panel-filled .table-bordered,
.panel-filled .table-bordered>thead>tr>th,
.panel-filled .table-bordered>tbody>tr>th,
.panel-filled .table-bordered>tfoot>tr>th,
.panel-filled .table-bordered>thead>tr>td,
.panel-filled .table-bordered>tbody>tr>td,
.panel-filled .table-bordered>tfoot>tr>td {
	border-color: #484c5a;
}

.panel-filled .table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #44464f;
}

.panel-filled .table-hover>tbody>tr:hover {
	background-color: #494b54;
}

::-webkit-scrollbar {
	height: 15px;
	overflow: visible;
	width: 15px
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0
}

::-webkit-scrollbar-corner {
	background: 0 0
}

::-webkit-scrollbar-thumb {
	background-color: #414550;
	background-clip: padding-box;
	border: solid transparent;
	border-width: 5px;
	min-height: 28px;
	padding: 0;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
	color: rgba(255, 255, 255, .6);
	border-radius: 10px
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px;
	width: 10px
}